@()(implicit request: RequestHeader)

<!DOCTYPE html>
    <html lang="en">
        <head>
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="@routes.Assets.at("bootstrap.min.css")">
        </head>
        <body>
            <form class="container" method="POST" enctype="multipart/form-data" id="fileUploadForm">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h3 class="section-heading">Get Started</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p>Upload an image (png or jpg)</p>
                    </div>
                    <div class="col-lg-7">
                        <div style="border:2px solid #cecece;">
                            <input type="file" class="form-control-file" id="file-upload" name="picture" style="margin: 3px 3px 3px 3px;" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input id="start-processing-img" class="btn btn-primary btn-lg" type="submit" name="upload">
                    </div>
                </div>
            </form>

            <div id="processing-progress-block" class="container" style="margin-top: 20px; margin-bottom: 40px; display: none;">
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <div class="progress">
                            <div id="processing-progress-bar"
                                 class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 0%">0%</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <p id = processing-progress-description class="text-center small">
                            uploading...
                        </p>
                    </div>
                </div>
            </div>


            @helper.javascriptRouter("jsRoutes")(
                routes.javascript.ImageProcessingController.processImage,
            )
            <script>
                document.getElementById("start-processing-img").addEventListener("click", function(event){
                    var token =  "@play.filters.csrf.CSRF.getToken.get.value"
                    $.ajaxSetup({
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader('Csrf-Token', token);
                        }
                    });

                    // make sure a file is selected
                    if (document.getElementById("file-upload").files.length > 0) {
                        //don't submit the form through Twirl Form, we will submit it manually
                        event.preventDefault();

                        // disabled the submit button
                        $('#start-processing-img').attr("disabled", true);

                        sessionUUID = "@java.util.UUID.randomUUID().toString()"
                        progressBarDescriptionElem = document.getElementById("processing-progress-description");
                        progressBarElem = document.getElementById("processing-progress-bar")

                        worker = new Worker("@routes.Assets.at("get-processing-statuses.js")");
                        worker.onmessage = function(msg) {
                            switch(msg.data) {
                                case 'Preparing':
                                    updateProgressBar(9, 'preprocessing...', progressBarElem, progressBarDescriptionElem);
                                    break;
                                case 'Parsing':
                                    updateProgressBar(31, 'parsing...', progressBarElem, progressBarDescriptionElem);
                                    break;
                                case 'Optimising':
                                    updateProgressBar(76, 'optimising...', progressBarElem, progressBarDescriptionElem);
                                    break;
                                case 'Done':
                                    worker.postMessage('END');
                                    updateProgressBar(100, '', progressBarElem, progressBarDescriptionElem);
                                    break;
                            }
                        }

                        updateProgressBar(0, 'uploading...', progressBarElem, progressBarDescriptionElem);
                        document.getElementById("processing-progress-block").style.display = "block";

                        // initiates an event source of processing progress statuses
                        worker.postMessage(sessionUUID);

                        routeForProcessingImg = jsRoutes.controllers.ImageProcessingController.processImage(sessionUUID);
                        // get form
                        form = $('#fileUploadForm')[0];
                        data = new FormData(form);
                        $.ajax({
                            url: routeForProcessingImg.url,
                            type: routeForProcessingImg.type,
                            enctype: 'multipart/form-data',
                            data: data,
                            processData: false,
                            contentType: false,
                            cache: false,
                            timeout: 600000,
                            success: function (data) {
                                // enabled the submit button
                                $('#start-processing-img').attr("disabled", false);
                                console.log("Processing completed");

                            },
                            error: function (e) {
                                worker.postMessage("END");
                                document.getElementById("processing-progress-block").style.display = "none";
                                // enabled the submit button
                                $('#start-processing-img').attr("disabled", false);
                                console.log("ERROR : ", e);
                            }
                        });
                    }
                })
            </script>
            <script src="@routes.Assets.at("jquery-3.4.1.min.js")"></script>
            <script src="@routes.Assets.at("popper.min.js")"></script>
            <script src="@routes.Assets.at("update-processing-status-bar.js")"></script>
            <script src="@routes.Assets.at("bootstrap.min.js")"></script>
        </body>
    </html>